#painelAtracoes,	
#painelDestaques,
#painelParceiros,
#painelEventos, 
#painelSlider,
#painelGaleria {	
	h3 {
		@include make-md-column(12);
		
		margin-top: 0;
		font-size: 1.25em;
	}
	
	.btn-default {
		span {
			font-size: 0.875em;
		}
	}

	.form-horizontal {//atrações e eventos
		margin-bottom: 1.875em;

		.content {
			margin: 0;
		}

		.form-group {
			@include make-md-column(6);

			margin: 0;
			padding: 5px 0;
			font-weight: 600;
			font-size: 1.25em;

			.control-label {
				@include make-md-column(2);				
			}

			.inputs {
				@include make-md-column(10);

				.form-control {					
					font-size: 1em;							
				}
			}

			.botao {
				@include make-md-column(12);

				text-align: center;
				
				.btn-default {
					span {
						font-size: 0.875em;																
					}
				}						
			}
		}					
	}//form

	.table-responsive {
		@include make-md-column(12);
	}

	.table-striped {
		
		thead {
			font-size: 1.125em;
		}

		tbody {
			img {
				max-width: 200px;
			}

			.btn {
				span {
					font-size: 0.875em;
				}
			}
		}				
	}			
	//painel destaques, eventos, slider
	.cabec {
		h3 {
			@include make-md-column(10);
			margin-bottom: 2.5em;					
		}

		.botao {
			@include make-md-column(2);
			text-align: right;
		}
	}	

	.modal {		
		.modal-title {
			font-size: 1.25em;
		}
		.modal-body {
			p {
				font-size: 1.125em;
			}
		}
		.modal-footer {
			.btn-default:nth-child(2) {
				margin-left: 1.875em;
			}
		}
	}
}//painel

.cadastro,
.alterar {
	.form-horizontal {
		@include make-md-column(12);
	}	
	.form-group {
		@include make-md-column(6);

		padding: 0.625em 1.25em;
		font-weight: 600;
	}
	.control-label {
		@include make-md-column(2);
	}

	.inputs {
		@include make-md-column(10);
	}

	.botao {
		@include make-md-column(12);
		text-align: center;
		
		.btn-default {
			span {
				font-size: 0.875em;	
			}
		}						
	}

	.baixo {//text-area
		@include make-md-column(12);

		.control-label {
			@include make-md-column(1);				
		}

		.inputs {
			@include make-md-column(11);
		}
	}
}//cadastro

.detalhes {			
	h1 {
		margin-top: 40px;
		font-size: 1.875em;
	}
	ul {
		padding: 0;
		list-style: none;

		li {
			padding-bottom: 1.25em;
			font-size: 1.25em;
			text-align: justify;
		}
	}
}//detalhes

.slider {
	.form-horizontal {
		@include make-md-column(12);		
	}
	.form-group {
		@include make-md-column(12);
	}
	.control-label {
		@include make-md-column(2);
	}
	.inputs {
		@include make-md-column(10);
	}
	.botao {
		@include make-md-column(6);
	}
}