#login {	
	.logo {
		@include make-md-column(12);

		margin-bottom: 1.875em;
		a {					
			img {
				margin: 1.25em auto;
			}
		}
	}
	.form-horizontal {
		width: 60%;
		margin: 6.25em auto;
		border: 5px solid $cor-escura;
		border-radius: 10px;
	}
	.form-group {
		margin: 1.25em 0.625em;
		padding: 0.625em 1.25em;
		font-bold: 600;
		font-size: 1.25em;
	}
	.control-label {
		@include make-md-column(2);
		text-align: right;
	}
	.inputs {
		@include make-md-column(10);

		.form-control {
			padding: 0 0.625em;
			font-size: 1.125em;
		}
	}
	.botao {
		@include make-md-column(7);
		@include make-md-column-offset(5);
		
		.btn-default {
			font-size: 1em;
		}						
	}
}//login
	