body {
	.logo {
		@include make-md-column(12);

		> a {					
			> img {
				margin: 20px auto;
			}
		}
	}

	.logout {
		@include make-md-column(12);

		text-align: right;
		margin-bottom: 20px;

		> .btn {
			font: bold 16px $fonte;
			border: 2px solid $cor-escura;

			&:hover {
				background-color: $cor-muy-clara;
			}			
		}
	}
	
	> #painel {
		> .content {			
			h3 {
				@include make-md-column(12);
					
				font: 600 24px $fonte;	
			}

			.botoes {
				@include make-md-column(12);

				margin: 60px 0;

				.btn {
					@include make-md-column(2);
					@include make-md-column-offset(2);
					@include make-md-column-pull(1);

					font: bold 22px $fonte;
					border: 2px solid $cor-escura;

					&:hover {
						background-color: $cor-muy-clara;
					}
				}
			}
		}
	}

	> #painelAtracoes {
		> .content {
			h3 {
				@include make-md-column(12);
				
				margin-top: 0;
				font: 600 20px $fonte;				
			}

			> .form-horizontal {
				padding-bottom: 15px;

				> .content {
					margin: 0;

					> h3 {
						@include make-md-column(12);

						font: 600 20px $fonte;
					}

					> .form-group {
						@include make-md-column(6);
						margin: 0;
						padding: 5px 0;
						font: 600 20px $fonte;

						.control-label {
							@include make-md-column(2);				
						}

						.inputs {
							@include make-md-column(10);

							.form-control {
								padding: 0 10px;
								font-size: 18px;							
							}
						}

						.botao {
							@include make-md-column(12);
							text-align: center;
							
							.btn-default {
								font-size: 16px;
								font-weight: bold;
								border: 2px solid $cor-escura;

								&:hover {
									background-color: $cor-muy-clara;
								}

								span {
									font-size: 13px;																
								}
							}						
						}
					}
				}//content					
			}//form
			> .table-striped {
				
				> thead {
					font: 600 18px $fonte;
				}

				> tbody {
					img {
						max-width: 200px;
					}

					.btn {
						span {
							font-size: 14px;																
						}
					}
				}				
			}
			
		}//content
	}//painel

	> #cadastro {
		> .content {
			> .form-horizontal {
				width: 100%;
				margin: 70px auto;
				border: none;

				> .content {
					> .form-group {
						@include make-md-column(6);

						padding: 10px 20px;
						font: 600 16px $fonte;

						.control-label {
							@include make-md-column(2);
						}

						.inputs {
							@include make-md-column(10);

							.form-control {
								padding: 0 10px;
								font-size: 16px;							
							}
						}

						.botao {
							@include make-md-column(12);
							text-align: center;
							
							.btn-default {
								font-size: 16px;
								font-weight: bold;
								border: 2px solid $cor-escura;

								&:hover {
									background-color: $cor-muy-clara;
								}

								span {
									font-size: 14px;																
								}
							}						
						}
					}

					> .baixo {
						@include make-md-column(12);

						.control-label {
							@include make-md-column(1);				
						}

						.inputs {
							@include make-md-column(11);
						}
					}
				}
				
			}//form-horizontal
		}//content
	}//cadastro

	> #detalhes {
		> .content {
			> .info {				
				h1 {
					margin-top: 40px;
					font: 600 30px $fonte;
				}
				ul {
					padding: 0;
					list-style: none;

					li {
						padding-bottom: 20px;
						font-family: $fonte;
						font-size: 20px;
						text-align: justify;
					}
				}
			}//info
		}//content
	}//detalhes
}