.container {
	font-family: $fonte;
	font-size: 16px;

	@media screen and (max-width: $resolucao-md) {
		font-size: 14px;
	}

	a {
		outline: none;
		text-decoration: none;
	}
}

.titulo {
	a {
		font-size: 1.222em;
		color: $cor-escura;
		margin-bottom: 1.25em;
		border-bottom: 0 solid $cor-escura;
		transition: border-width 0.1s ease;				
	}
	.glyphicon {
		color: $cor-escura;
		font-size: 1em;
		vertical-align: text-top;
	}
}

.titulo a:hover {
	border-width: 3px;
	transition: border-width 0.1s ease;
}

.content {
	@include make-row();			
}

//estilo dos botões da área administrativa
.btn-default {
	font-weight: bold;
	border: 2px solid $cor-escura;

	&:hover {
		background-color: $cor-muy-clara;
		border: 2px solid $cor-escura;
	}
}