.detalhes {	
	margin-bottom: 3.75em;

	.modal {
		margin: 10px auto;
		width: 80%;
	}
	.modal-content {
		img {	
			/* margin: 0 auto; */		
			max-width: 800px;
		}
	}
}

.destaque-info,
.evento-info,
.atracoes-info,
.parceiros-info,
.baixada-info,
.vale-info {	
	@include make-md-column(12);

	margin: 1.25em 1.25em 0;
	
	img {
		margin-top: 0.937em;
		margin-right: 1.875em;
		float:left;
		max-width: 500px;
		cursor: pointer;
	}

	p, ul {
		margin-top: 0;
		padding-top: 1.25em;
		text-align: justify;
		line-height: 1.875em;
	}

	h2, h3 {
		margin-bottom: 0;
	}

	ul {		
		padding-left: 0;
	}

	li {
		list-style: none;

		span {
			font-size: 0.875em;
		}
	}

	.mais-informacoes {
		clear: both;
	}

	.parceiro-item {
		@include make-md-column(5);
		@include make-md-column-offset(1);
		@include make-md-column-pull(1);

		margin-bottom: 1.25em;
	}
}
