body {
	> .scroll-top {		
		position: fixed;
		width: 40px;
		height: 40px;
		right: 8%;
		bottom: 3%;
		background-color: $cor-media;//mudar cor
		opacity: 0.5;
		cursor: pointer;
		display: none;
		transition: all 0.2s linear;

		&:hover {
			opacity: 1;
			transition: all 0.2s linear;
		}
		
		.glyphicon-chevron-up {			
			font-size: 18px;
			color: #FFFFFF;
			top: 25%;
			left: 28%;
		}
	}

	> footer {
		background-color: $cor-media;
		
		.mapa {
			@include make-md-column(3);

			margin-top: 60px;
			margin-bottom: 60px;
			font: bold 20px $fonte;

			a {
				text-decoration: none;
				color: $cor-clara;
				transition: all 0.2s linear;

				&:hover {
					color: #FFFFFF;
					transition: all 0.2s linear;
				}
			}				
		}
	}
} 