#slider {
	margin-top: 1.25em;
	margin-bottom: 3.75em;

	#myCarousel {
		@include make-md-column(12);
	}

	.carousel-indicators {
		margin-bottom: 0;
		bottom: -30px;

		li {
			background-color: $cor-clara;
			border-color: $cor-clara;

			&.active {
				background-color: $cor-muy-escura;
				border-color: $cor-muy-escura;
			}
		}
	}

	.carousel-inner {		
		img {
			margin: auto;
		}

		.carousel-caption {
			background-color: rgba(0,0,0,0.5);
			padding: 0.312em;
			width: 84%;						
			margin: 0 auto;
			left: 0;
			right: 0;
			bottom: 5px;
			
			h3, p {							
				text-align: justify;
				margin: 10px;
			}
			a {
				font-size: 0.777em;
				font-weight: 600;
				color: #FFFFFF;								
				padding-left: 0.625em;
				padding-right: 0.625em;
				margin: 0.312em;
			}

			p {
				a {
					font-weight: 400;
				}							
			}						
		}
	}

	.carousel-control {				
		color: $cor-muy-escura;
		background-image: none;	
		width: 50px;									
	}
}

#destaque-titulo {
	h3 {
		/* @include make-xs-column(12);
		@include make-sm-column(12);*/
		@include make-md-column(12);					
	}
}

#destaque {
	background-color: $cor-escura;
	margin-bottom: 2.5em;
	
	.destaque-item {
		/* @include make-xs-column(12);
		@include make-sm-column(4); */
		@include make-md-column(4);

		margin: 1.875em 0;							

		.fundo {
			background-color: $cor-media;
			width: 70%;
			margin: auto;

			img {
				margin: auto;
				max-height: 170px;
			}

			p {
				padding: 1.25em;
				margin: 0;
				font-weight: 600;
				color: #FFFFFF;
				text-align: justify;							
			}
		}
	}						
}

#eventos {
	margin-bottom: 2.85em;

	.evento1 {
		// @include make-xs-column(8);
		// @include make-sm-column(8);
		@include make-md-column(8);	
	}

	.evento2 { 
		// @include make-xs-column(4);
		// @include make-sm-column(4);
		@include make-md-column(4);
	}				
	
	.eventos-baixada {
		@include make-md-column(8);

		.evento-item {
			// @include make-xs-column(12);
			// @include make-sm-column(7);
			@include make-md-column(4);	
			@include make-md-column-offset(2);	
			@include make-md-column-pull(2);

			margin-bottom: 1.875em;
		}					
	}
	
	h3:not(.titulo) {
		font-size: 1.125em;		
		text-align: center;								
		margin-bottom: 0;
	}
	img {
		margin: 0.625em auto;
		max-height: 120px;
	}

	p {
		margin-bottom: 0px;
		text-align: justify;		
	}

	span:not(.glyphicon) {
		font-size: 0.875em;
	}

	.eventos-fora {
		// @include make-xs-column(12);
		// @include make-sm-column(7);
		@include make-md-column(4);
	}			
}

@media screen and (max-width: $resolucao-md) {

	#slider {
		#myCarousel {
			@include make-sm-column(12);

			width: 100%;
			margin:auto;

			.carousel-inner {
				.item {
					img {
						margin: auto;
					}
				}//item
			}//carousel-inner
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {

	#slider {
		#myCarousel {
			@include make-xs-column(12);			
		}
		.carousel-caption {
			display: none;
		}
	}
}