$resolucao-xs: 300px;
$resolucao-sm: 768px;
$resolucao-md: 992px;

/* $fonte: 'Times New Roman'; */
$cor-muy-clara: #F9F9F9;
$cor-clara: #C6C6C6;
$cor-media: #515151;
$cor-escura: #444A4F;
$cor-muy-escura: #292929;
$azul: #2384BE;

//azul

$fonte: 'Merriweather', serif;
/* $cor-muy-clara: #F9F9F9;
$cor-clara: #CCD4DF;
$cor-media: #3A69AA;
$cor-escura: #295998;
$cor-muy-escura: #295998;
$azul: #2384BE; */