$fonte: 'Times New Roman';
$cor-muy-clara: #F9F9F9;
$cor-clara: #C6C6C6;
$cor-media: #515151;
$cor-escura: #444A4F;
$cor-muy-escura: #292929;
$azul: #2384BE;

//azul
/* 
$fonte: 'Merriweather';//'Merriweather', serif;
$cor-clara: #CCD4DF;
$cor-media: #295998;
$cor-escura: #3A69AA;
$cor-muy-escura: #295998;
$azul: #2384BE; */